.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:greenyellow;
   
  }
  input[type=text]{
    width:50%;
  }
  .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    
  }
  .row1 img {
    flex: 1 1 calc(25% - 10px); /* Adjust percentage as needed */
    width: 300px;
    height: 250px;
    border-radius: 10px;
  }